{{>header}}
<section id="chat">
    <div id="chat-menu">
        <svg id="chat-button-open" class="chat-menu-button" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
        </svg>
        <svg id="chat-button-minimize" class="chat-menu-button" width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-dash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
        </svg>
        <svg id="chat-button-smallscreen" class="chat-menu-button" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrows-angle-contract" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M.172 15.828a.5.5 0 0 0 .707 0l4.096-4.096V14.5a.5.5 0 1 0 1 0v-3.975a.5.5 0 0 0-.5-.5H1.5a.5.5 0 0 0 0 1h2.768L.172 15.121a.5.5 0 0 0 0 .707zM15.828.172a.5.5 0 0 0-.707 0l-4.096 4.096V1.5a.5.5 0 1 0-1 0v3.975a.5.5 0 0 0 .5.5H14.5a.5.5 0 0 0 0-1h-2.768L15.828.879a.5.5 0 0 0 0-.707z"/>
        </svg>
        <svg id="chat-button-fullscreen" class="chat-menu-button" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrows-angle-expand" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M5.828 10.172a.5.5 0 0 0-.707 0l-4.096 4.096V11.5a.5.5 0 0 0-1 0v3.975a.5.5 0 0 0 .5.5H4.5a.5.5 0 0 0 0-1H1.732l4.096-4.096a.5.5 0 0 0 0-.707zm4.344-4.344a.5.5 0 0 0 .707 0l4.096-4.096V4.5a.5.5 0 1 0 1 0V.525a.5.5 0 0 0-.5-.5H11.5a.5.5 0 0 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 0 .707z"/>
        </svg>
    </div>
    <div id="rooms-container">
        <ul id="rooms-list">
        </ul>
    </div>
    <div id="namespace-container">
        <ul id="namespace-list">
        </ul>
    </div>
    <div id="chatbox">
        <div id="message-box">
            <ul id="message-list">
                    <li>
                        <div class="message-img">
                            <img src="https://www.flaticon.com/svg/static/icons/svg/21/21104.svg" height="25px" width="25px" alt="">
                            <div class="message-time"> <span>today 11:30 pm</span> </div>
                        </div>
                        <div>
                            
                            <div class="message-text"><span>Hi there bro how are you doing today??</span></div>
                        </div>

                    </li>
                </div>
            </ul>
        </div>
           <form id="chat-form">
               <div id="chat-layout">
                    <input id="chat-input" type="text" placeholder="Type your message...">
                    <button type="submit" id="chat-button" class="btn btn-secondary">Send</button>
                </div
            </form>
    </div>
</section>

<script src="/socket.io/socket.io.js"></script>
<script src="/scripts/joinNs.js"></script>
<script src="/scripts/scripts.js"></script>
<script src="/scripts/chatMenu.js"></script>
{{>footer}}
