{{>header}}
<section id="chat">
    <div id="rooms-container">
        <ul id="rooms-list">
        </ul>
    </div>
    <div id="namespace-container">
        <ul id="namespace-list">
        </ul>
    </div>
    <div id="chatbox">
        <div id="message-box">
            <ul id="message-list">
                    <li>
                        <div class="message-img">
                            <img src="https://www.flaticon.com/svg/static/icons/svg/21/21104.svg" height="25px" width="25px" alt="">
                            <div class="message-time"> <span>today 11:30 pm</span> </div>
                        </div>
                        <div>
                            
                            <div class="message-text"><span>Hi there bro how are you doing today??</span></div>
                        </div>

                    </li>
                </div>
            </ul>
        </div>
           <form id="chat-form">
                <input id="chat-input" type="text" placeholder="Type your message...">
                <button type="submit" id="chat-button" class="btn btn-secondary">Send</button>
            </form>
    </div>
</section>

<script src="/socket.io/socket.io.js"></script>
<script src="/scripts/joinNs.js"></script>
<script src="/scripts/scripts.js"></script>
{{>footer}}
