{{>header}}
<h1>{{title}}</h1>
<section id="chat">
<div class="container">
    <div id="chatbox">
        <div id="message-box">
            <ul id="message-list">
                <li class="message">Hi there mafks!</li>
            </ul>
        </div>
           <form id="chat-form">
                <input id="chat-input" type="text" placeholder="Type your message...">
                <button type="submit" id="chat-button" class="btn btn-secondary">Send</button>
            </form>
    </div>
</div>
</section>
{{>footer}}