{{>header}}
<div id="login-form" class="authentication-form">
  <h3>Login</h3>
  <h2>{{error}}</h2>
  <form action="/users/login" method="POST">
    <input class="form-control" type="email" name="email" placeholder="Email address" required>
    <input class="form-control" type="password" name="password" placeholder="Password" required>
    <button type="submit">Login</button> 
    <button class="cancle-button" type="button">Cancle</button>  
 
  </form>
    <span><a class="google-button" href="/loginGoogle"> Google Login</a></span>
</div>
{{>footer}}