body{
    background-color: lightpink;
}
#chat{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 425px;
    width: 450px;
    margin: 0 auto;
    background-color: #333333;
    border: 2px solid silver;
    border-radius: 3px;
    
    
}
#chatbox{
    padding: 0px 10px;
    float: right;
}
#message-box{
    height: 300px;
    width: 325px;
    padding: 5px 0px;
    background-color: #555555;
    border: 2px solid black;
    border-bottom: 0px solid black;
    border-radius: 1px;
    overflow: scroll;
    color: white;
    
 
}
#message-list{
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: scroll;
 
}

#message-list li:nth-child(even){
    background-color: #999999;

}
#message-list li{
    padding-left: 10px;
}
.message-img{
    display: inline;
}
.message-info{
    display: inline;
    font-size: 18px;
}
.message-info span{
    float: right;
    margin-right: 10px;
    display: inline;
    font-style: italic;
    font-size: 12px;
}
.message{
    padding: 5px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#message-box::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  #message-box {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  /* Hide scrollbar for Chrome, Safari and Opera */
#message-list::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  #message-list {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }





#chat-form{
    
    margin-left: 10px;
    float: right;
    padding-right: 10px;
}
#chat-input{
    color: black;
    width: 265px;
    height: 42px;
    border-radius: 1px;
    border: 2px solid black;
    border-right: 1px solid black;
    margin-top: 0px;


}
#chat-button{
    width: 60px;
    height: 42px;
    border-radius: 1px;
    border: 2px solid black;
    border-left: 1px solid black;
    font-size: 15px;
    margin-top: -4px;
    margin-left: -4px;

}


#namespace-list{
    display: inline-flex;
    margin: 0;
    margin-left: 100px;
    padding: 0;
 }
 #namespace-list > * {
    cursor: pointer;
    margin: 10px;
    
}
#rooms-container{
    position: absolute;
}
#rooms-list{
    list-style: none;
    color: white;
    margin-left: -20px;
    margin-top: 75px;
}
.selectedNS{
    border: 1px solid darkgoldenrod;
}
.selectedRoom{
    color: darkgoldenrod;
}