<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
  
<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin">Admin</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown link
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
        </div>
      </li>
      <li class="nav-item">
        <a id="login-button"class="nav-link nav-button" >Login</a>
      </li>
      <li class="nav-item">
        <a id="signup-button" class="nav-link nav-button">Signup</a>
      </li>
    </ul>
  </div>
</nav>



<div id="login-form" class="authentication-form">
  <h3>Login</h3>
  <form action="/users/login" method="POST">
    <input class="form-control" type="email" name="email" placeholder="Email address" required>
    <input class="form-control" type="password" name="password" placeholder="Password" required>
    <button type="submit">Login</button> 
    <button class="cancle-button" type="button">Cancle</button>  
 
  </form>
    <span><a class="google-button" href="/loginGoogle"> Google Login</a></span>
</div>
<div id="signup-form" class="authentication-form">
  <h3>Sign Up</h3>
  <form action="/users" method="POST">
    <input class="form-control" type="text" name="username" placeholder="Username" required>
    <input class="form-control" type="email" name="email" placeholder="Email address" required>
    <input class="form-control" type="password" name="password" placeholder="Password" required>
    <input class="form-control" type="password" name="password2" placeholder="Password" required>
    <button type="submit">Sign Up</button>
    <button class="cancle-button" type="button">Cancle</button>
  </form>
    <span><a class="google-button" href="/signupGoogle"> Google Signup</a></span>
</div>
<h1>{{title}}</h1>
